@model BillingAndPayments.Repository.Models.Bill

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewBag.Action Bill</h1>

<h4>Bill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BillId" />
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <input asp-for="PatientId" class="form-control" />
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentStatus" class="control-label"></label>
                <select asp-for="PaymentStatus" class="form-control" asp-items="ViewBag.PaymentStatusList"></select>
                <span asp-validation-for="PaymentStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillDate" class="control-label"></label>
                <input asp-for="BillDate" class="form-control" id="BillDate"/>
                <span asp-validation-for="BillDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@ViewBag.Action" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Show">Back to Bills</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var billDateInput = document.getElementById('BillDate');
            if (billDateInput) {
                var today = new Date();
                var year = today.getFullYear();
                var month = (today.getMonth() + 1).toString().padStart(2, '0');
                var day = today.getDate().toString().padStart(2, '0');
                billDateInput.value = `${year}-${month}-${day}`;
            }
        });
    </script>
}